body
{
  margin: 0;
  background-color: #262626;
}

.alert_red
{
  margin-bottom: 1px;
  background-color: #FF523A;
  color: #ffffff;
  font-family: 'Roboto Slab', arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  padding: 10px;
  border-left: 2px solid #262626;
  border-right: 2px solid #262626;
  animation-name: red_alert;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

@keyframes red_alert
{
  0%   { opacity: 1; }
  10%  { opacity: 1; }
  20%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 1; }
  50%  { opacity: 0.2; }
  60%  { opacity: 1; }
  70%  { opacity: 1; }
  80%  { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 1; }
}

.alert_amber
{
  margin-bottom: 1px;
  background-color: #FF883A;
  color: #ffffff;
  font-family: 'Roboto Slab', arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  padding: 10px;
  border-left: 2px solid #262626;
  border-right: 2px solid #262626;
  border-radius: 8px;
}

.alert_green
{
  margin-bottom: 1px;
  background-color: #5DCC57;
  color: #ffffff;
  font-family: 'Roboto Slab', arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  padding: 10px;
  border-left: 2px solid #262626;
  border-right: 2px solid #262626;
  opacity: 1.0;
  border-radius: 8px;
}

.cat
{
  font: bold 12pt 'Roboto Slab', arial, sans-serif;
  color: #ffffff;
}

.box
{
  text-align: center;
}